*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: #010C25;
}

html, body{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.whole_form{
	height: 50rem;
	width: 80rem;
	border: 1px solid rgba(1, 12, 37, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.whole_form div div{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3rem 0 3rem 0;
}

.image_div img{
	height: 25rem;
}

.question{
	font-size: 60px;
}

.button_div button{
	padding: 2rem 4rem 2rem 4rem;
	font-size: 40px;
	margin: 0 5rem 0 5rem;
	border: 1px solid #010C25;
}

.popup-container {
    position: fixed;
    left: 0;
    width: 100%;
    display: none;
    top: 90%;
    justify-content: center;
    z-index: 999;
}

#popup {
    border: 1px solid rgba(0, 0, 0, 1.0);
    background: white;
    color: red;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 18px;
    z-index: 1000;
}

.arrow{
	position: fixed;
    left: 28%;
    display: flex;
    top: 68%;
    z-index: 999;
    display: none;
}

.arrow img{
	height: 15rem;
}

.crying{
	position: fixed;
    z-index: 999;
}

.c1{
	top: 20%;
	left: 20%;
	display: none;
}

.c1 img{
	width: 20rem;
}

.c2{
	top: 17%;
	left: 65%;
	display: none;
}

.c2 img{
	width: 18rem;
}

.c3{
	top: 63%;
	left: 73%;
	display: none;
}

.c3 img{
	width: 13rem;
}

.c4{
	top: 50%;
	left: 15%;
	display: none;
}

.c4 img{
	width: 15rem;
}

.image_div_yes img{
	height: 35rem;
}

.invitation{
	font-size: 50px;
}

#yesform{
	display: none;
}